@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
}

* {
  font-family: "Roboto", sans-serif;
}

html {
  @apply w-full h-[100vh] font-sans;
}

body,
#app {
  @apply w-full h-full bg-slate-300;
}
